@import "../../variables.scss";
.bg-light {
    background-color: $bg-color !important;
    button {
        background-color: $fore-color !important;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: $fore-color !important;
}
.page-header {
    .head {
        font-size: 68px;
        line-height: 70px;

    }
    p {
        font-size: 34px;

    }
    background-color: $bg-color;
    color: $fore-color;
    border-top: 1px solid lightgray;

}
.center {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    position: absolute;
}