<div class="row">
    <div class="col-sm-12 theme-inverse">
        <br>
        <h4>Know About Home Inspection</h4>
        <br>
    </div>

</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <h2>
            What Is Home Inspection?
        </h2>
        Well, home inspection or property inspection involves a non-invasive examination of the condition of any
        property which is about to be rented or sold. The service is more prevalent in the US and some other
        countries where buyers are keen on knowing about
        every minute detail of the condition of the property they get interested in. To be precise, it is a
        professional inspection of the building/unit to ensure that buyers and tenants get to buy or rent a
        property that is in a good and liveable
        condition.


    </div>
    <div class="col-sm-6">
        <img src="./assets/carousel (2).jpeg" style="max-width: 100%">
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <h1>Some Content</h1>
        <i class="mdi mdi-email"></i>
        <p>ewkfjelkhf ekjfh sdfj hskljfd hsfkjdl hsfdjhgs lkfhj</p>
    </div>
    <div class="col-sm-4">
        <h1>Some Content</h1>
        <i class="mdi mdi-email"></i>
    </div>
    <div class="col-sm-4">
        <h1>Some Content</h1>
        <i class="mdi mdi-email"></i>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <h2>Why Hire A Home Inspector?</h2>

        There is a lot that you as a homebuyer may miss during your property visits. In many cases, buyers
        and tenants often remain unaware of the expenditure that they have to incur once they take
        possession of the property. A professional and qualified home
        inspector is trained to scan the visible and accessible areas of the property to identify any health
        and safety hazards it poses. They can bring forth the areas that would need further specialised
        attention.
    </div>
    <div class="col-sm-6">
        <img src="./assets/carousel (1).jpeg" style="max-width: 100%">
    </div>
</div>
<div class="row">
    <div class="col-sm-4 theme">
        <div class="theme-card">
            <h2>What Does An Inspection Include?</h2>
            An inspection includes structural elements such as the roof, foundation, walls, windows, doors,
            insulation, basement or crawlspace and the attic. It also includes electrical, plumbing, heating and
            cooling systems and can even include examination of the
            appliances and the furniture. Once the process is complete, the inspector generates a detailed
            report of
            the inspection that can be used by the homebuyer to proceed further with the deal.

        </div>
    </div>


    <div class="col-sm-4 ">
        <div class="theme-card theme-inverse">
            <h2>A Decent Scope To Bargain</h2>
            If nothing else appeals, then think of this – you get to place a fruitful bid on the property on
            your
            own terms and get into a position to bargain as you are well aware of all the factors that concern
            the
            deal. You have a clear picture before you that
            can help you negotiate well, and crack a fruitful deal, saving you time and money.
        </div>
    </div>
    <div class="col-sm-4 theme">
        <div class="theme-card">
            <h2>How Much Does It Cost?</h2>
            Currently in its nascent stage, home inspection services don't have a standard fee structure. The
            fee
            depends on the area and availability of services and also to an extent on the cost or rent of the
            property. For instance, a property costing around Rs
            50 lakh would attract a fee between Rs 3,500 to Rs 10,000.
        </div>
    </div>
    <div class="col-sm-4 ">
        <div class="theme-inverse theme-card">
            <h2>Some Pioneers</h2>
            While home inspection services are yet to garner interest at local levels, some ventures stand out
            in
            this category. There is HomeInspeKtor by Phi Property Management Services (PPMS) that performs
            independent third party end-to end pre-delivery checks
            and inspection services in real estate. Currently active in Bengaluru, they plan to expand to other
            cities too. PPMS has partnered InterNACHI (the International Association of Certified Home
            Inspectors)
            in setting up the India Chapter.
            InterNACHI is the world's largest trade association for property inspectors based in the US. The
            India
            chapter looks forward to providing local home inspectors access to all of InterNACHI's offerings and
            a
            network of support, tailored
            specially for India, including education, training and certification.
        </div>
    </div>
    <div class="col">
        <div class="theme-card">
            <h2>Do Buyers Need Home Inspection Services? </h2>
            It is imperative for everyone to get the property, they are planning to buy, inspected before
            sealing
            the deal. There is no geographical binding as a property inspection lets you know how much your new
            home
            will cost you further with regard to time and
            money. It helps ensure that the property is in good condition, devoid of any structural and material
            shortcomings and puts you in a position where you can take decisions regarding making important
            changes
            in the physical condition of the
            property, beforehand. It also helps cut down the possibility of any financial burden as well that
            you
            would find yourself under in a later stage. It helps avoid foundation issues or problems in
            structural
            designs that could threaten the
            integrity of the property on a whole or on an individual level.
        </div>

    </div>
</div>