<h2> Contact Us:</h2>
<div class="row">
  <div class="col-sm-6">
    <img src="./assets/send_mail.jpeg" style="max-width: 100%; width:100%">
  </div>
  <div class="col-sm-6">
    <br>
    <div class="form-goup ">
      <label>Name:</label>
      <input type="text" [(ngModel)]="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-goup">
      <label>Mobile No:</label>
      <input type="text" [(ngModel)]="phone" class="form-control" placeholder="Mobile Number">
    </div>
    <div class="form-goup">
      <label>Email:</label>
      <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-goup">
      <label>Message:</label>
      <input type="text" [(ngModel)]="message" class="form-control" placeholder="Message">
    </div>
    <div class="form-group">
      <br>
      <button type="button" class="btn btn-outline-primary" (click)="sendMail()">
        <span *ngIf="loader" class="spinner-border spinner-border-sm"></span>
        Send</button>
    </div>
  </div>
</div>