<div class="row strip2">
    <div class="col-sm-4">
        <div class="part">
            <div class="part-image"><span class="fa fa-phone"></span></div><br>
            <div class="part-content">
                <h4>
                    HAVE A QUESTION? CALL US NOW</h4>
                <p>{{contact.phone}} <br> {{contact.email}}
                </p>
            </div>

        </div>
    </div>
    <div class="col-sm-4">
        <div class="part">
            <div class="part-image"><span class="fa fa-clock-o"></span></div><br>
            <div class="part-content">
                <h4>WE ARE PROVIDING 24/7 SERVICES</h4>
                <p>We are available 24/7.<br> Happy to help you.</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="part">
            <div class="part-image"><span class="fa fa-map-marker"></span></div><br>
            <div class="part-content">
                <h4>NEED SERVICES? OUR ADDRESS</h4>
                <p>{{contact.AddressLine1}}{{contact.AddressLine2}}</p>
            </div>

        </div>
    </div>
</div>