/* You can add global styles to this file, and also import other style files */
.theme {
    color: #830300;
    background-color: #fff;

}
.theme-inverse {
    color: #fff;
    background-color: #830300 !important;
}
.theme-logo-font {
    font-family: "Times New Roman", Times, serif;
}
