/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
.theme {
    color: $fore-color !important;
    background-color: $bg-color !important;
}

.theme-inverse {
    background-color: $fore-color !important;
    color: $bg-color !important;
}

.theme-logo-font {
    font-family: "Times New Roman", Times, serif;
}

div.theme-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    padding: 5px;
}