.banner {
    background-image: url("../../assets/cover_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //filter: blur(2px);
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    //border: 3px solid #f1f1f1;
    //padding: 20px;
    text-align: center;
}

.center {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    position: relative;
}

div.theme-card {
    min-height: 380px;
}