@import '../../variables.scss';
.banner {
    background-image: url("../../assets/cover_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //filter: blur(2px);
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    //border: 3px solid #f1f1f1;
    //padding: 20px;
    text-align: center;
}

.center {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    position: relative;
}

div.theme-card {
    min-height: 380px;
}

.strip {
    background-color: $bg-color !important;
    color: $fore-color !important;
    .part {
        margin: 20px auto;
        max-width: 300px;
        text-align: center;

        h4 {
            font-size: 14px;
            font-style: bold;
            text-transform: uppercase;
        }
        p {
            color: lightgray;
            border-bottom: 2px solid lightslategray;
            padding-bottom: 5px;
        }
        span {
            font-size: 36px;
            
        }
    }
}

.strip2 {
    background-color: $bg-color !important;
    color: $fore-color !important;
    .part {
        margin: 20px auto;
        max-width: 400px;
        h4 {
            font-size: 14px;
            font-style: bold;
            text-transform: uppercase;
        }
        p {
            color: lightgray;
            border-bottom: 2px solid lightslategray;
            padding-bottom: 5px;
        }
        span {
            font-size: 36px;
            position: relative;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
        }
    .part-image {
        width: 20%;
        float: left;
        margin: auto;
        height: fit-content;
    }
    .part-content {
        width: 80%;
        float: left;
    }
    }
}